* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./img/3f4c0807-dbd3-4c08-b9fb-cdfcba223ca8.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 5.0px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    }


button:hover{
    opacity: 0.6;
    scale: 95%;

}

#pedra{
    background-color: blueviolet;
}

#papel{
    background-color: chartreuse;
}

#tesoura{
    background-color: crimson;
}